

<div class="starter-template">
    
    <h1>What is MySnaps?</h1>
    <div class="well well-lg">        
        <p>
            This is a photo-sharing application which enables you to take pictures and share them using this app. Each photograph will have a “Like” button as well as a space for “Comments”. A user can create his account or he can sign-in with his google account. He will also be able to follow other people and like or comment on their pictures.
        </p>        
    </div>
    
    <hr>
    
    <h1>Team</h1>
        <div class="well well-lg">            
            <table style="width: 350px;margin-left: 360px;">
            <tr>
                <td>RITESH KUMAR</td>
                 <td></td>
                <td> SUEELLEN MEDEIRA</td>
            </tr>
            <tr>
                <td><%= image_tag("/ritesh_kumar.jpg", class: 'team_img img-circle') %></td>
                <td></td>
                <td><%= image_tag("/sueellen_medeira.jpg", class: 'team_img img-circle') %></td>
             </tr>
            </table>            
        </div>
    <hr>

    <h1>Contact us</h1>
    <div class="well well-lg">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3847.1969696060423!2d73.93095011484945!3d15.36581528931884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbfb75289b5ef5f%3A0x725d94b34ab864f5!2sPersistent+Systems+Ltd.!5e0!3m2!1sen!2sin!4v1466658541040" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen></iframe>
    </div>
        
</div>
    
